/* Reset css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Regular;
    color: #888888;
    overflow-x: hidden;
}
/* initial settings */
a{
    text-decoration: none;
    color: #888888;
    font-size: 14px;
}
p{
    margin-bottom: 7px;
}
img{
    width: 100%;
    height: 100%;
}
/*=== Heading ===*/

.heading-1{
    font-size: 40px;
}
.heading-2{
    font-size: 20px;
}
.heading-3{
    font-size: 18px;
}

/*=== Paragraph ===*/

.paragraph-1{
    font-size: 16px;
}
.paragraph-2{
    font-size: 14px;
}
.paragraph-3{
    font-size: 12px;
}

/*=== alignment ===*/

.text-center{
    text-align: center;
}

/*=== Section title ===*/
.section-title{
    position: relative;
    display: block;
    text-align: center;
}
.section-title::before,
.section-title::after {
    content: "";
    position: absolute;
    top: 0.65em;
    width: 40%;
    height: 1px;
    background-color: #707070;
    left: -1.25em;
 }
.section-title::after {
    left: initial;
    right: -1.25em;
}   
/*=== Header ===*/

header{
    position: relative;
    top: 0px;
    left: 0px;
    height: 399px;
}
header .layer{
    border-top: 0;
    border-bottom: 120px solid transparent;
    border-right: 100vw solid #707070;

}
header .container{
    text-align: center;
    color: #FFFFFF;
}
header .heading-1{
    margin-bottom: 24px;
}
header .heading-2{
    padding-top: 69px;
}


/*=== Nav ==*/

.nav{
    display: grid;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
    grid-template-columns: 160px 160px 160px 160px;
}
.nav a{
    padding: 10px 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

/*=== Container ===*/

.container{
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
}

.grid{
    display: grid;
    gap: 40px;
    grid-template-columns: 1.6fr 1fr;
}

/*=== Sections ===*/

/* Section 1 */
#sec-1{
    padding-top: 20.97px;
    padding-bottom: 40px;
}
#sec-1 h1{
    padding-bottom: 30px;
}
/* Section 2 */
#sec-2{
    padding-top: 40px;
    padding-bottom: 40px;
}
#sec-2 .load-more{
   margin-left: auto;
   margin-right: auto;
   margin-top: 52px;
   display: block;
}
.products-list{
    display: grid;
    gap: 41px;
    grid-template-columns: repeat(4, 201px);
}
.products-list h1{
    margin-top: 14px;
    margin-bottom: 10px;
}
.products-list button{
    width: 100% !important;
    margin-top: 10px;
}
/* Section 3 */
#sec-3{
    padding-top: 40px;
    padding-bottom: 71.76px;
}
#sec-3 h1{
    margin-bottom: 44px;
}
#sec-3 p{
    margin-bottom: 39px;
}
#sec-3 .form-group{
    justify-content: center;
}
#sec-3 button{
    display: block;
    margin: 0 auto;
    margin-top: 53px !important;
}


/*=== Contact form ===*/

.form-group{
    margin-bottom: 20px;
}
.flex{
    display: flex;
    gap: 40px;
}
label{
    color: #888888;
    font-size: 12px;
}
input[type="text"],
input[type="email"],
input[type="number"]{
    display: grid;
    width: 340px;
    height: 30px;
    padding: 10px 10px;
    border: 1px solid #888888;
    margin-top: 7px;
}
input[type="radius"]{
    display: grid;
    padding: 10px 10px;
}
button{
    width: 340px;
    padding: 10px 10px;
    color: #888888;
    background-color: #FFFFFF;
    border: 1px solid#888888;

}

/*=== Footer ===*/

footer{
    position: relative;

}
footer .container{
    padding-top: 157.24px;
    padding-bottom: 86px; 
 }
footer p{
   color: #FFFFFF;   
   line-height: 20px;
}

.layer {
    border-top: 120px solid transparent;
    border-right: 100vw solid #707070;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}
/*=== Media screen for tablets  ===*/
@media screen and ( max-width:992px ){
    .container{
        padding-left: 18px;
        padding-right: 18px;
    }
    .products-list{
        display: grid;
        gap: 41px;
        grid-template-columns: repeat(4, 166px);
    }
}
/*=== Media screen for smartphones  ===*/
@media screen and ( max-width:576px ){
    header .container{
        text-align: left;
    }
    .container{
        padding-left: 18px;
        padding-right: 18px;
    }
    /*=== Nav ==*/
    .nav{
        display: grid;
        gap: 21px;
        justify-content: center;
        margin-top: 50px;
        grid-template-columns: 160px 160px;
        text-align: center;
    }
    /*=== Section title ===*/
    .section-title::before, 
    .section-title::after {
        content: "";
        position: absolute;
        top: 0.65em;
        width: 20%;
        height: 1px;
        background-color: #707070;
        left: -1.25em;
    }
    .section-title::after {
        left: initial;
        right: -1.25em;
    } 
    .grid{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr;

    }
    /*=== Products ===*/
    .products-list{
        display: grid;
        gap: 41px;
        grid-template-columns: repeat(1, 201px);
    }
    .product-details{
        display: grid;
        grid-template-columns: 169px 169px;
        gap: 20px;
    }
    .product-details p.paragraph-3{
        display: none;
    }
    #sec-3 .flex{
        display: block !important;
    }
    /*=== Forms ===*/
    input[type="text"],
    input[type="email"],
    input[type="number"]{
        display: grid;
        width: 100%;
        height: 30px;
        padding: 10px 10px;
        border: 1px solid #888888;
        margin-top: 7px;
    }
    button{
        width: 100%;
    }
}